/* main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.bookanim {
    transition: all 1s ease;
    overflow: hidden;
}
.bookanim i{
    transform: translateX(500%);
    rotate: 0;
    display: none;
}
.bookanim:hover i{
    animation: bookin .5s ease forwards;
    display: inline-block;
    margin-inline: .5rem;
}
.blue-gradient
{
    background: rgb(125,211,252);
    background: linear-gradient(180deg, rgba(125,211,252,1) 0%, rgba(248,250,252,1) 90%, rgba(248,250,252,1) 100%);
}
.blue-bg{
    background: rgba(125,211,252, .1);
}
.blue_shadow{
    box-shadow: 0 0 5px  rgba(14, 165, 233, .5);
}

.TourDisplay{
    width: 35%;
    height: 100%;
    border-radius: .25rem;
    border: 2px solid #0ea5e9;
    position: relative;
    /* transition: all ease 500ms; */
    cursor: pointer;
}
.TourDisplay:hover{
    scale: 1.02;
}
.TourDisplayImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #0ea5e9;
}
.TourDisplayInfo{
    width: 75%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    border-radius: .5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #233dffec;
    color: #f8fafc;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}
.h-seperator
{
    width: 95%;
    height: 1px;
    background-color: #f8fafc;
    border-radius: 5px;
}
.TourDisplayTitle
{
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    font-weight: 700;
}
.striked-am{
    color: #f8fafcc0;
    font-size: .9rem; /* 18px */
    line-height: .9rem; /* 28px */
}
@media not all and (min-width: 640px) { 
    .TourDisplay{
        width: 100%;
        height: 100%;
    }
    .TourDisplayInfo{
        gap: .2rem;
        padding: 10px 0;
    }
    .TourDisplayTitle
    {
        font-size: 1rem; /* 18px */
        line-height: 1rem; /* 28px */
        font-weight: 700;
    }
}
@media not all and (min-width: 768px) { 
    .TourDisplay{
        width: 90%;
        height: 100%;
    }
    .TourDisplayInfo{
        gap: .2rem;
        padding: 10px 0;
    }
    .TourDisplayTitle
    {
        font-size: 1rem; /* 18px */
        line-height: 1rem; /* 28px */
        font-weight: 700;
    }
}
@media not all and (min-width: 1024px) { 
    .TourDisplay{
        width: 100%;
        height: 100%;
    }
    .TourDisplayInfo{
        gap: .2rem;
    }
    .TourDisplayTitle
    {
        font-size: 1rem; /* 18px */
        line-height: 1rem; /* 28px */
        font-weight: 700;
    }
}
@keyframes bookin {
    0%{
        transform: translateX(400%);
        rotate: 0;
    }
    100%{
        transform: translateX(0);
        rotate: -45deg;
    }
}